%h2.title
  収入科目一覧
.link1
  = link_to "収入科目の新規登録", new_income_path
-if @incomes.present?
.content
  .content__head
    %p
      科目名
    %p
      備考
    %p
      操作
  .content__body
    -@incomes.each do |income|
      .content__body__name= income.name
      .content__body__description= income.description
      .content__body__link2
        =link_to "編集", edit_income_path
-else
  %p2 登録されている収入科目がありません。