%h2.text 固定費科目の詳細
= link_to "編集", edit_fixedcost_path
= link_to "固定費科目一覧へ戻る", fixedcosts_path
-# = succeed "\u{3000}" do
-#   .content
-#     .content__box
-#       .content__box__text 名称
-#       .content__box__puts
-#         =@income.name
-#       .content__box__text 説明
-#       .content__box__puts
-#         =@income.description
